/*all tags*/
* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", 微软雅黑
}

a {
  text-decoration: none;
}

/*header*/
.header {
  width: 100%;
  height: 60px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}

.header__logo {
  height: 40px;
  width: 40px;
  margin: 10px 10px;
  float: left;
}

.header__topic {
  font-size: 18px;
  line-height: 60px;
  float: left;
}

.header__topic_title {
  color: white;
}

.header__topic .header__topic_title:hover {
  color: red;
}

nav {
  float: right;
}

.header__nav-item {
  color: white;
  font-size: 14px;
  line-height: 14px;
  padding: 23px 40px 23px 0;
  float: left;
}

.header__nav_button {
  color: white;
  float: left;
  font-size: 14px;
  line-height: 14px;
  line-height: 14px;
  padding: 13px 20px;
  border-radius: 5px;
  margin: 10px 30px 10px 0;
  background: rgb(240, 20, 0);
}

.header__nav_button:hover {
  background: rgb(180, 0, 0);
}

.header__nav-tip {
  width: 55px;
  border: 1px red solid;
  position: absolute;
  top: 50px;
  right: 549px;
  transition: all .5s;
}

/*内容区域通用样式*/
.screen-1,
.screen-2,
.screen-3,
.screen-4,
.screen-5,
.buttom,
.footer {
  width: 100%;
  color: white;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  background: white;
}

.container {
  width: 1200px;
  height: 640px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/*第一屏*/
.screen-1 {
  background: url("../img/sc1.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.screen-1__heading {
  font-size: 40px;
  line-height: 40px;
  padding-top: 240px;
}

.screen-1__text {
  margin-top: 30px;
}

/*第二屏*/
.screen-2 {
  color: rgb(7, 17, 27);
  background: rgb(243, 245, 247) url("../img/sc2.png") no-repeat bottom center;
}

.screen-2__heading {
  font-size: 40px;
  line-height: 40px;
  margin-top: 90px;
}

.screen-2__split {
  width: 48px;
  border: 1px red solid;
  margin: 36px auto 24px auto;
}

.screen-2__text {
  line-height: 22px;
}

.screen-2__person {
  width: 275px;
  height: 380px;
  position: absolute;
  bottom: 0;
  left: 463px;
  background: url("../img/sc2-1.png") no-repeat center;
  z-index: 2;
}

.screen-2__arrow {
  width: 266px;
  height: 205px;
  position: absolute;
  bottom: 100px;
  left: 570px;
  background: url("../img/sc2-2.png") no-repeat center;
  z-index: 1;
}

/*第三屏*/
.screen-3 {
  text-align: left;
  background: rgb(43, 51, 59);
}

.screen-3__atom {
  width: 580px;
  height: 640px;
  position: absolute;
  top: 0;
  background: url("../img/sc3.png") no-repeat;
  background-size: contain;
}

.screen-3__heading {
  font-size: 34px;
  line-height: 34px;
  margin-top: 230px;
  margin-left: 660px;
}

.screen-3__split {
  width: 48px;
  border: 1px red solid;
  margin: 32px 490px 24px 660px;
}

.screen-3__text {
  line-height: 22px;
  margin-left: 660px;
}

.screen-3__icon {
  width: 64px;
  height: 64px;
  font-size: 12px;
  line-height: 64px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
}

/*呼吸灯效果若设置文本所在元素边框缩放，在Firefox浏览器上文本有明显抖动，故将缩放设置在新增一层*/
.screen-3__icon p {
  width: 56px;
  height: 56px;
  border: 2px white solid;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}


.screen-3__icon_i_1 {
  left: 670px;
  color: rgb(23, 176, 242);
}

.screen-3__icon_i_1 p {
  border-color: rgb(31, 89, 117);
}

.screen-3__icon_i_2 {
  left: 771px;
  color: rgb(120, 136, 253);
}

.screen-3__icon_i_2 p {
  border-color: rgb(66, 77, 118);
}

.screen-3__icon_i_3 {
  left: 872px;
  color: rgb(255, 96, 96);
}

.screen-3__icon_i_3 p {
  border-color: rgb(107, 65, 70);
}

.screen-3__icon_i_4 {
  left: 973px;
  color: rgb(34, 199, 229);
}

.screen-3__icon_i_4 p {
  border-color: rgb(41, 83, 95);
}

.screen-3__icon_i_5 {
  left: 1074px;
  color: rgb(144, 189, 86);
}

.screen-3__icon_i_5 p {
  border-color: rgb(62, 78, 64);
}

/*第四屏*/
.screen-4 {
  color: rgb(7, 17, 27);
  background: rgb(243, 245, 247);
}

.screen-4__heading {
  font-size: 40px;
  line-height: 40px;
  margin-top: 90px;
}

.screen-4__split {
  width: 48px;
  border: 1px red solid;
  margin: 36px auto 24px auto;
}

.screen-4__item {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 280px;
  background-size: contain;
}

.screen-4__item p {
  width: 160px;
  font-size: 15px;
  line-height: 15px;
  position: absolute;
  left: -40px;
  bottom: -30px;
}

.screen-4__item_1 {
  background: url(../img/sc4-1.png) no-repeat center;
  left: 110px;
}

.screen-4__item_2 {
  background: url(../img/sc4-2.png) no-repeat center;
  left: 410px;
}

.screen-4__item_3 {
  background: url(../img/sc4-3.png) no-repeat center;
  left: 710px;
}

.screen-4__item_4 {
  background: url(../img/sc4-4.png) no-repeat center;
  left: 1010px;
}

/*第五屏*/
.screen-5 {
  background: url("../img/sc5.jpg") no-repeat center;
  background-size: cover;
}

.screen-5__brain {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 105px;
  left: 500px;
  background: url("../img/sc5-1.png") no-repeat center;
}

.screen-5__heading {
  font-size: 40px;
  line-height: 40px;
  margin-top: 363px;
}

.screen-5__split {
  width: 48px;
  border: 1px white solid;
  margin: 30px auto;
}

/*底部按钮*/
.bottom,
.bottom .container {
  height: 200px;
}

.bottom__button {
  width: 238px;
  height: 58px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -120px;
  border: 1px black solid;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  outline-style: none;
}

.bottom__button:hover {
  color: red;
}

/*页脚*/
.footer,
.footer .container {
  height: 105px;
  background: black;
}

.footer__link {
  color: white;
  font-size: 13px;
  display: inline-block;
  padding-top: 33px;
  padding-right: 35px;
}

.footer a:last-child {
  padding-right: 0;
}

.footer__link:hover {
  color: red;
}

.footer .container p {
  color: #aaa;
  font-size: 16px;
  line-height: 34px;
}

/*右侧导航栏*/
.outline {
  width: 50px;
  height: 200px;
  text-align: center;
  background: white;
  border-radius: 2px;
  ;
  box-shadow: 0 0 5px 0 gray;
  position: fixed;
  right: 0;
  bottom: 120px;
}

.outline__item {
  color: black;
  display: block;
  line-height: 40px;
  width: 50px;
  height: 40px;
}

.outline__item:hover,
.outline__item_status_active {
  color: red
}